{%  include('base_user.html.twig')%}
{% trans_default_domain 'FOSUserBundle' %}
    {% block stylesheets %}
    {% endblock %}
    <div id="breadcrumbs" class="section-block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Register</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section id="authorization_page" class="authorization_page">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 dot">
                    <h2 class="section-title">Register</h2>
                    <p class="section-description">Already have an account? - <a href="login.html">Log In</a></p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        <div class="reg_box">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'placeholder': 'form.email'|trans } }) }}
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'placeholder': 'form.username'|trans } }) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'form.password'|trans } }) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'form.password_confirmation'|trans } }) }}
                        </div>
                        <input class="button" id="btn-rg" type="submit" value="{{ 'registration.submit'|trans }}" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{%  include('footer_user.html.twig')%}
